{% macro show(specy) -%}
<div class="card mt-3">
  <a href="/species/{{ specy.id }}">
    <img src="{{ specy.thumbnail }}" class="card-img-top" alt="Image for {{ specy.name }}" />
  </a>
  <div class="card-body">
    <h5 class="card-title">{{ specy.name }}</h5>
{%- for source, link in specy.link.items() %}
    <a href="{{ link }}" class="btn btn-link">{{ source | replace('_', ' ') }}</a>
{%- endfor %}
  </div>
</div>
{%- endmacro %}

{% macro details(specy, photo, hidden) -%}
<div id="deleteModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header flex-column">
                <h5 class="modal-title">Are you sure?</h5>    
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete <span id="deleteModalText">.</span>? This process cannot be undone.</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="deleteModalAction">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="card mt-3">
  <div class="card-body">
{% if hidden | default(False) %}
    <button class="btn btn-primary mb-2" type="button" data-toggle="collapse" data-target=".collapse-info" aria-controls="info" aria-expanded="false" aria-label="Toggle info">Voir</button>
{% endif %}
    <div id="info" {% if hidden | default(False) %}class="collapse collapse-info"{% endif %}>
      <h5 class="card-title">{{ specy.name }}</h5>
      <span data-toggle="modal" data-target="#deleteModal" data-delete-text="the {{ specy.name }} specy" data-delete-url="/species/{{ specy.id }}" class="float-right">
        <button class="btn btn-danger btn-sm" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
      </span>
      <p>{{ specy.names['scientificHtml'] }}</p>
      <div>
        <ol class="breadcrumb">
{%- for taxon in specy.taxonomy %}
          <li class="breadcrumb-item">{{ taxon[1] }}</li>
{%- endfor %}
        </ol>
      </div>
{%- for source, link in specy.link.items() %}
      <a href="{{ link }}" class="card-link">View on {{ source | replace('_', ' ') }}</a>
{%- endfor %}
      <div id="carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
  {%- for photo in specy.photos %}
          <div class="carousel-item {%- if loop.first %} active{% endif %}">
            <img src="{{ photo['url'] }}" class="card-img-bottom d-block w-100" alt="...">
            <p>image issue de <a href="{{ specy.link[photo['src']] }}" class="card-link">{{ photo['src'] }}</a></p>
          </div>
  {%- endfor %}
        </div>
        <a class="carousel-control-prev" role="button" href="#carousel" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" role="button" href="#carousel" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
{% if photo | default(False) %}
    <div class="collapse show collapse-info">
      <img src="{{ photo['url'] }}" class="card-img-bottom d-block w-100" alt="...">
    </div>
{% endif %}
  </div>
</div>
{%- endmacro %}
