<!doctype html>
<html lang="en">
  <head>
{%- block header %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bio</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/static/css/specy.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
{%- endblock %}
  </head>
  <body>
    <nav role="navigation" class="navbar navbar-expand-lg navbar-dark bg-primary">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            {%- if page == "species" %}
            <a class="nav-link active" href="#" aria-current="page">Espèces <span class="sr-only">(courant)</span></a>
            {%- else %}
            <a class="nav-link" href="/species">Espèces</a>
            {%- endif %}
          </li>
          <li class="nav-item">
            {%- if page == "random" %}
            <a class="nav-link active" href="#" aria-current="page">Hasard <span class="sr-only">(courant)</span></a>
            {%- else %}
            <a class="nav-link" href="/species/random">Hasard</a>
            {%- endif %}
          </li>
          <li class="nav-item">
            {%- if page == "specy_create" %}
            <a class="nav-link active" href="#" aria-current="page">Ajouter <span class="sr-only">(courant)</span></a>
            {%- else %}
            <a class="nav-link" href="/species/new">Ajouter</a>
            {%- endif %}
          </li>
        </ul>
      </div>
<!--
      <div class="p-1 mr-3">
        <a href="https://doris.ffessm.fr/" target="_blank">
          <img src="/static/img/doris.png" class="d-inline-block align-bottom" alt="Doris" title="Aller sur Doris" height="50" loading="lazy"/>
        </a>
      </div>
-->
    </nav>
    <div id="content" class="container" style="{% block container_style %}{% endblock %}">
{%- block content %}{% endblock %}
{%- block footer %}
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/static/js/delete.js"></script>
{%- endblock %}
  </body>
</html>
