{% extends "index.html" %}
{% import("macros/specy.phtml.j2") as specy_macro %}
{%- block content %}
      <div class="card-columns">
{%- for specy in species.values() %}
        {{ specy_macro.show(specy) | indent(8) }}
{%- endfor %}
      </div>
{%- endblock %}
