{% extends "index.html" %}
{% import("macros/specy.phtml.j2") as specy_macro %}
{%- block container_style %}width: 48rem;{% endblock %}
{%- block content %}
      {{ specy_macro.details(specy) | indent(6) }}
{%- endblock %}
